body {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    height: 100vh;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.content {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding-left: 8%;
}

table {
    border-collapse: separate;
    border-spacing: 0 35px; 
}

button {
    width: 120px;
    height: 40px;
    font-size: 16px;
    background-color: #0b92ec;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}
